@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Darker Grotesque;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

main,
header {
  padding: 0 0rem;
  box-sizing: border-box;
  max-width: 100%;
   overflow-x: hidden;
}
.presentation-header {
  background: #aeeeca;
background: radial-gradient(circle,rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
  color: #333;
  text-align: center;
  padding: 2rem 1rem;
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 1rem 0rem;
  z-index: 1000;
  background: transparent; 
  
}

.nav-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: -1; 
  pointer-events: none;
}

.nav-header.scrolled::before {
  opacity: 1;
}
/* NAVIGATION LINKS */
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  
  
}

.nav-menu li {
  margin: 0;
  
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.5s ease, font-weight 0.5s ease;
  
}

.nav-menu a:hover {
  font-weight: 600;
 transform: scale(1.05);
  shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, shadow 0.2s ease;
  color: #000;
}
.hamburger,
.close-menu {
  display: none;
}


@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: #aeeeca;
background: radial-gradient(circle,rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 999;
  }
  .nav-header::before {
  height: 130%;
}
  .nav-header.show .nav-menu {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    
  }
  .logo-wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1002;
    height: 28px;
    width: auto;
    display: none;
  }

  .logo-wrapper svg {
    height: 28px;
    width: auto;
    z-index: 1000;
  }

  .nav-header.show .logo-wrapper {
    display: block;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 0rem;
    left: 1rem;
    z-index: 1001;
  }

  .nav-header.show .hamburger {
    display: none;
  }

  .menu-close {
    display: block;
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  .close-menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1002;
  }

  .close-menu:hover {
    transform: rotate(90deg);
  }

  .nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .nav-header.show .close-menu {
  display: block;
}
}
/* HEADER CENTER */
.header-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 2rem;
  padding: 2rem;
}

.studio-name {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 0.85;
  margin-top: 0;
  font-family: 'Darker Grotesque';
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.entry-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.studio-name strong {
  font-weight: 700;
}

.studio-name em {
  font-style: italic;
}

.tagline {
  font-size: 35px;
  font-weight: 400;
  color: #444;
  margin-top: 0rem;
  max-width: 600px;
  text-align: left;
  line-height: 1.2;
}

/* Mobiltilpasning */
@media (max-width: 768px) {
  .studio-name {
    font-size: 3rem;
    line-height: 0.7;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 0rem;
  }

  .tagline {
    font-size: 1.2rem;
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
    align-items: left;

  }
  .entry-header {
  flex-direction: column;
   align-items: left;
    padding: 0 0rem;
    display: flex;
}
}

/* PORTFOLIO */
.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  max-width: 1500px;
  padding: 0;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  max-width: 520px;
  margin-top: 0rem;
  background-color: #fff;
  border-radius: 0px;
  overflow: visible;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: scale(1.02);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: flex;
}

.caption {
  text-align: left;
  padding: 1rem 1.5rem;
}

.caption h2 {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0rem;
  text-align: center;
  max-width: 800px;
  margin: 0 0 1rem 0;
  
}
.caption h3 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 400;
}
.caption h4 {
  font-size: 6rem;
  font-weight: 400;
  font-family: 'Darker Grotesque', serif;
  text-align: left;
  margin-top: -3rem;
  margin-bottom: 0rem;
}
.portfolio-heading h2 {
font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-left: 3rem;
  margin-right: 2rem;
  border-bottom: 1px solid black;
}

/* Mobiltilpasning */
@media (max-width: 768px) {
  .caption h2 {
    font-size: 2rem;
    margin: 1rem auto -2rem auto;
    padding: 0 1rem;
    }
.caption h4 {
  font-size: 4rem;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
  margin-top: -1rem;
  margin-bottom: 0rem;
  }

}
.caption h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.caption p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #444;
  font-family: Darker Grotesque;
}
.about {
  display: flex;
  flex-wrap: wrap;
  font-family: Darker Grotesque;
  margin-top: 4rem;
 } 
  .about-left {
  flex: 1 1 55%;
  background-color: #fff;
  color: #333;
  padding: 0rem 2rem 2rem 2rem;
  box-sizing: border-box;
  text-align: left;
}
.about-right {
  flex: 1 1 40%;
   background: radial-gradient(circle, rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
  color: #000;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  margin-right: 1rem;
}
.about-heading h2 {
font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0rem;
  margin-left: 3rem;
  margin-right: 2rem;
  border-bottom: 1px solid black;
}
.about h2 {
  display: flex;
  flex-wrap: wrap;
  font-family: Darker Grotesque;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  }
.about p {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  font-family: Darker Grotesque;
  font-weight: 500;
  font-size: 1.5rem;
  }
.entries {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.entry {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  min-width: 120px;
  color: #000;
}

.content p {
  flex: 1;
  margin-top: 0rem;
  font-size: 1.2rem;
  text-align: left;
margin-bottom: 0rem;
}
.scroll-arrow {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 1rem;
  display: block; 
}

.arrow-icon {
  transition: transform 0.4s ease;
  display: block;
}

.arrow-icon.rotate-up {
  transform: rotate(180deg);
}


/* FOOTER */
.footer-split {
  display: flex;
  flex-wrap: wrap;
  font-family: Darker Grotesque;
  margin-top: 4rem;
  max-width: 100%;
  overflow-wrap: break-word;
  position: relative;
  
}
.footer-left, .footer-right {
background: radial-gradient(circle, rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
}
.footer-left {
  flex: 1 1 50%;
  color: #333;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.footer-left h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.footer-left p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: Darker Grotesque;
  overflow-wrap: break-word;
}

.footer-left form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

.footer-left .form-group label {
  font-weight: 400;
  margin-bottom: 0.3rem;
  display: block;
  text-align: left;
  margin-left: 2rem;
}

.footer-left input,
.footer-left textarea {
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 0rem;
  font-size: 1rem;
  width: 90%;
  font-family: Darker Grotesque;
}

.footer-left button {
  padding: 1rem;
  background: #fff;
  color: #333;
  border: none;
  width: 95%;
  border-radius: 0rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Darker Grotesque;
  margin-left: 1rem;
}

.footer-left button:hover {
  background: #000;
  color: white;
}

.footer-right {
  border-left: 1px solid black;
  flex: 0 0 50%;
  color: #333;
  padding: 2rem 2rem;
  box-sizing: border-box;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.footer-right h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: right;
}
.footer-right h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
}
.footer-right h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: right;
}
.footer-right h2:hover,
.footer-right h3:hover,
.footer-right h4:hover {
  transform: scale(1.02);
  shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-right p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.footer-right a {
  color: #333;
  text-decoration: underline;
  font-weight: 500;
}
.footer-right p, a {
  text-transform: normal;
  min-width: 120px;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-split {
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

  .footer-left,
  .footer-right {
    flex: 1 1 100%;
    padding-right: 1rem;
    border-left: hidden;
    margin-right: 0rem;
    border-bottom: hidden; 
    box-sizing: border-box;
    justify-content: center;
  }

  .portfolio-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.footer-last h2 {
text-align: left;
  padding: 0rem;
  font-family: Darker Grotesque;
  font-size: 1rem;
  font-weight: 300;
  border: none; 

  }
  .entries, content p, label {
    gap: -1rem;
    padding: 0rem;
}
.footer-logo {
  text-align: center;
  margin-top: 2rem;
}

.footer-logo svg {
  height: 35px;
  width: auto;
  margin-top: 4rem;
  max-width: 200px;
}
.scroll-arrow {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 1rem;
  display: block; 
}

.arrow-icon {
  transition: transform 0.4s ease;
  display: block;
}

.arrow-icon.rotate-up {
  transform: rotate(180deg);
}


}
.contact-wrapper {
  display: block;
  margin: 0;
  padding: 0rem;
  font-family: 'Helvetica Neue';
  color: #000;
}

.thank-you-message {
  background-color: #fff;
  border-left: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: opacity 0.6s ease;
  opacity: 0;
  font-family: Darker Grotesque;
}
.thank-you-message p {
  font-family: Darker Grotesque;
  font-size: 1.5rem;
  }
  
.thank-you-message:not([hidden]) {
  opacity: 1;
}

.thank-you-message a {
  color: #444;
  text-decoration: underline;
  
}
.footer-last h2 {
text-align: left;
  padding: 1rem;
  font-family: Darker Grotesque;
  font-size: 1rem;
  font-weight: 300;
  border-top: 1px solid #000; 
  font-weight: bold;

}
.footer-last {
  width: 100%;
  margin: 0;
  padding: 1rem;
  background: radial-gradient(circle, rgba(174, 238, 202, 1) 0%, rgba(148, 172, 233, 1) 100%);
  color: #000;
  box-sizing: border-box;
  text-align: left;
}